@import "../../../styles/mixins.scss";

.headerContainer,
#headerContainer {
	background: url("../../../../public/images/misc/home-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 0.5rem solid #222;

	.headerGradient {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.4);
		background-image: linear-gradient(
			rgba(0, 0, 0, 0.8) 0,
			rgba(0, 0, 0, 0) 60%,
			rgba(0, 0, 0, 0.8) 100%
		);
		height: 70%;

		@include max-media-query($tablet-xs) {
			height: 80%;
		}
	}

	.headerNav,
	.feature {
		position: relative;
		z-index: 2;
	}

	.headerNav {
		@include max-media-query($mobile-lg){
			margin: 0 !important;
		}

		.container-fluid {
			height: 4rem;
			max-width: 120rem;
			width: 98%;
			
			@include max-media-query($mobile-sm){
				margin: 0 !important;
				padding: 0 !important;
				width: 100%;
			}
		}

		.netflixLogo,
		img {
			cursor: pointer;
			margin-right: auto;
			width: 10.5rem;
			height: auto;
		}

		.navLogo {
			@include max-media-query($tablet-xs){
				width: 6.75rem;
			}
		}

		.navbar-nav {
			@include buttons();
			padding: 0.5rem 1.5rem;
			text-decoration: none;

			@include max-media-query($tablet-xs) {
				padding: 0.25rem 1rem;
			}

			@include max-media-query($mobile-lg) {
				padding: 0.25rem 0.5rem;
			}

			a {
				padding: 0;
				color: white;
				@include max-media-query($tablet-xs){
					@include body(regular);
				}
			}
		}
	}

	.feature {
		text-align: center;
		padding: 7.75rem 2.813rem 9.5rem;

		@include max-media-query($mobile-lg) {
			padding: 10.375rem 0rem;
		}

		h1 {
			color: white;
			max-width: 40rem;
			@include jumbotronHeader();
			margin: auto;

			@include max-media-query($desktop-md) {
				@include header();
			}

			@include max-media-query($tablet-xs) {
				@include headerMobile();
			}

			@include max-media-query($mobile-lg) {
				@include subHeader();
				line-height: 2.125rem;
			}
		}

		h2 {
			color: white;
			@include subTitle(medium);

			@include max-media-query($mobile-lg) {
				font-size: 1.125rem;
			}
		}

		.optFormSection {
			margin-top: 1.25rem;
			.row {
				max-width: 41.5rem;
				width: 100%;
			}
		}
	}
}
