@import "../../../styles/mixins.scss";

	.accordion{
		margin: auto;
		margin-bottom: 0.625rem;
		max-width: 45.5rem;
		width: 100%;

		@include media-query('tablet-sm'){
			padding-right: 2.25rem;
			padding-left: 2.25rem;
			max-width: 51rem;
			width: 100%;
		}
		@include media-query('mobile-lg'){
			padding: 0;
		}
	}
	
	.card, .card-header, button, .card-body {
		border: none;
		border-radius: 0 !important;
		background-color: $medium-gray !important;
		color: white;
	}

	.card {
		margin-bottom: 0.5rem;
	}

	.card-header, .card-body {
		@include subTitle(regular);

		@include media-query('tablet-sm'){
			@include subTitleMobile(regular)
		}
	}

	.card-header {
		border-bottom: black solid 0.25px;
		cursor: pointer;
		height: 4.75rem;

		@include media-query('tablet-sm'){
			height: 3.625rem;
		}
	}

	button {
		padding: 1.25rem 1.875rem;
		height: 100%;
		width: 100%;

		svg {
			width: 2.25rem;

			@include media-query('tablet-sm'){
				width: 1.5rem;
			}
		}
	}

	.card-body {
		padding: 1.875rem;
	}

