@import "../../../styles/variables.scss";

//accordion section
.accordionContainer {
	display: flex;
	border-bottom: 8px solid #222;

	.inner {
		display: flex;
		padding: 70px 45px;
		flex-direction: column;
		max-width: 815px;
		margin: auto;
	}

	h1 {
		font-size: 50px;
		line-height: 1.1;
		margin-top: 0;
		margin-bottom: 48px;
		color: white;
		text-align: center;

		@media (max-width: 600px) {
			font-size: 35px;
		}
	}

	.wrapper {
		color: white;
		margin: auto;
		margin-bottom: 10px;
		max-width: 728px;
		width: 100%;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		margin-bottom: 1px;
		font-size: 20px;
		font-weight: normal;
		background: $medium-gray;
		padding: 0.8em 1.2em 0.8em 1.2em;
		user-select: none;

    p{
      margin-bottom: 0;
    }

		@media (max-width: 600px) {
			font-size: 16px;
		}
	}

	#accBody {
		font-size: 20px;
		font-weight: normal;
		line-height: normal;
		background: $medium-gray;
		white-space: pre-wrap;
		user-select: none;
		overflow: hidden;

		p {
			padding: 24px;
		}

		&.closed {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
		}

		&.open {
			max-height: 1200px;
			transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
		}

		span {
			display: block;
			padding: 0.8em 2.2em 0.8em 1.2em;
		}

		@media (max-width: 600px) {
			font-size: 16px;
			line-height: 22px;
		}
	}
}
