@import '../../../styles/mixins.scss';

.rowContainer {
	h3 {
		@include subTitle('medium') ;
	}
}

.moviesContainer {
	display: flex;
	overflow-y: hidden !important;
	overflow-x: scroll;
	padding: 0.25rem 0px 1.75rem ;
	scroll-behavior: smooth;
	cursor: pointer;

	&::-webkit-scrollbar {
		display: none !important;
	}

	.arrow-container-left, .arrow-container-right {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.70);
		height: 21rem;
		width: 3.75rem;
		z-index: 10;
		cursor: pointer;
		opacity: 0;
		transition: all 450ms;
		
		&:hover {
			opacity: 1;
		}
		
		svg {
			font-size: 1.25rem;
			padding-right: 0.25rem;
		}
	}

	.arrow-container-left {
		left: 0;
	}

	.arrow-container-right {
		right: 0;
	}

	.posterContainer {
		position: relative;
		border-radius: 0.313rem;
		object-fit: contain;
		margin-right: 0.625rem;
		height: 100%;
		width:100%;
	}

	.posterLarge {
		height: 21rem;
		width: auto;
		transition: transform 450ms;

		&:hover{
			transform: scale(1.09);
			opacity: 1;
		}
	}
}