@import "../../styles/mixins.scss";

.accordionContainer {
	border-bottom: 0.5rem solid #222;
	display: flex;
	flex-direction: column;
	align-items: center;

	.inner {
		padding: 4.375rem 0rem;
		width: 100%;

		.optFormSection {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin-top: 3.25rem;

			@include max-media-query($tablet-sm) {
				margin-top: 2rem;
			}

			form {
				margin: 0 !important;
				max-width: 41.5rem;
				width: 100%;
			}

			.row {
				margin: 0;
			}

			p {
				margin-bottom: 1.625rem
			}
		}

		p {
			@include subTitleMobile(regular);
			text-align: center;
			@include max-media-query($tablet-sm) {
				font-size: 1.375rem;
				width: 80%;
			}
		}

		.title {
			@include header();
			margin-top: 0;
			margin-bottom: 3rem;
			color: white;
			text-align: center;

			@include max-media-query($tablet-sm) {
				@include headerMobile();
			}
		}
	}
}
