@import "../../../styles/mixins.scss";

.headerNav{
  margin: 0 3.5rem;
  padding-top: 1.75rem;

  .netflixLogo, img {
    cursor: pointer;
    width: 10.5rem;
    height: auto;
  }
}

.profileContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 80%;

  h1 {
    color: #fff;
    @include headerMobile();
    text-align: center;
    margin-top: 12.5rem;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-bottom: 1.5rem;

    li, p, img {
      transition: all ease-in-out 0.5s;
    }

    li {
      max-height: 12.5rem;
      max-width: 12.5rem;
      list-style-type: none;
      text-align: center;
      margin-right: 1.875rem;
      

      &:hover > img {
        border: 3px solid white;
      }

      &:hover> p {
        font-weight: bold;
        color: white;
        padding-top: 1rem;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  p {
    color: #afafaf;
    @include body(regular);
    text-overflow: ellipsis;
    margin: 1rem;


    &:hover {
      font-weight: bold;
      color: #e5e5e5;
      
    }
  }

  img {
    width: 100%;
    max-width: 9.375rem;
    height: auto;
    cursor: pointer;
  }
}
    