
@mixin inputPlaceholder() {
	$selector: "";
	$prefixes: (
		moz: "::-moz",
		webkit: "::-webkit",
		ie: ":-ms",
	);
	@each $prop, $value in $prefixes {
		@if $prop != "moz" {
			$selector: #{$value}-input-placeholder;
		} @else {
			$selector: #{$value}-placeholder;
		}
		@if & {
			&#{$selector} {
				@content;
			}
		} @else {
			#{$selector} {
				@content;
			}
		}
	}
	&::placeholder {
		@content;
	}
}

.headerContainer {
  display: flex;
  flex-direction: column;
  background: url('../../../../public/images/misc/home-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  .headerNav {
    display: flex;
    flex: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    margin: 0 3.5rem;
    padding-top: 28px;

    img {
      cursor: pointer;
      margin-right: auto;
      width: 8.375rem;
      height: 2.25rem;
    }

    // This may be changed to an a tag
    button {
      background-color: #e50914;
      border:none;
      border-radius: 3px;
      color:white;
      font-size: 1rem;
      font-weight: 400;

      cursor: pointer;
      padding: 7px 17px;
    }

  }

  .feature {
    display: flex;
    flex-direction: column;
    border-bottom: 8px solid #222;
    text-align: center;
    padding: 165px 45px;

    h1 {
      color: white;
      max-width: 640px;
      font-size: 50px;
      font-weight: 700;
      margin: auto;
    
      @media (max-width: 600px) {
        font-size: 35px;
      }
    }

    h2 {
      color: white;
      font-size: 26px;
      font-weight: normal;
      margin: 16px auto;
    
      @media (max-width: 600px) {
        font-size: 18px;
      }
    }
  }
}

.jumboContainer {
	display: flex;
	border-bottom: 8px solid #222;
	
	padding: 50px 5%;
	color: white;
	overflow: hidden;

	&:nth-last-child(2) h2,
	&:nth-child(4) h2 {
		margin-bottom: 50px;
	}

	&:nth-child(3) .jumboTron, &:nth-child(5) .jumboTron {
		flex-direction: row-reverse ;
	}

  .jumboTron{
    display: flex;
    align-items: center;
    justify-content: space-between;
		
    margin: auto;
    max-width: 1163px !important;
    width: 100% !important;

    @media (max-width: 1000px) {
      flex-direction: column !important;
    }

  
    .content {
			position: relative;
      width: 50%;
			margin: 0 auto;
  
      @media (max-width: 1000px) {
        width: 100%;
        padding: 0;
        text-align: center;
      }

			h1 {
				font-size: 50px;
				line-height: 1.1;
				margin-bottom: 8px;
		
				@media (max-width: 600px) {
					font-size: 35px;
				}
			}
		
			h2 {
				font-size: 26px;
				font-weight: normal;
				line-height: normal;
				margin-top: 22px;
		
				@media (max-width: 600px) {
					font-size: 18px;
				}
			}

    }
  
    img {
			position: relative;
      max-width: 100%;
      height: auto;
			z-index: 2;
    }


		.tvContainer {
			position: absolute;
			top: 21%;
			left: 13%;
			max-width: 73%;
			max-height: 54%;
			width: 100%;
			height: 100%;

			@media(max-width:1000px) {
				top: 20.75%;
				left: -23.35%;
			}
		}

		.tvVideo {
			position: absolute;
			width: 100%;
      height: 100%;
		}

		
  }
}

//accordion section
.accordionContainer {
	display: flex;
	border-bottom: 8px solid #222;

	.inner {
		display: flex;
		padding: 70px 45px;
		flex-direction: column;
		max-width: 815px;
		margin: auto;
	}

	h1 {
		font-size: 50px;
		line-height: 1.1;
		margin-top: 0;
		margin-bottom: 48px;
		color: white;
		text-align: center;

		@media (max-width: 600px) {
			font-size: 35px;
		}
	}

	.wrapper {
		color: white;
		margin: auto;
		margin-bottom: 10px;
		max-width: 728px;
		width: 100%;
	}

	.header {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		margin-bottom: 1px;
		font-size: 20px;
		font-weight: normal;
		background: #303030;
		padding: 0.8em 1.2em 0.8em 1.2em;
		user-select: none;
		align-items: center;

		@media (max-width: 600px) {
			font-size: 16px;
		}
	}

	#accBody {
		font-size: 20px;
		font-weight: normal;
		line-height: normal;
		background: #303030;
		//white space recognizes the \n\n space breaks in the json and applies them accordingly
		white-space: pre-wrap;
		user-select: none;
		overflow: hidden;

		p {
			padding: 24px;
		}

		&.closed {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
		}

		&.open {
			max-height: 1200px;
			transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
		}

		span {
			display: block;
			padding: 0.8em 2.2em 0.8em 1.2em;
		}

		@media (max-width: 600px) {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

//faq opt form
.optFormSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	margin-top: 48px;

	form {
		display: flex;
		justify-content: center;
    flex-wrap: wrap;
		max-width: 782px;
		width: 100%;
		margin: 0 auto;

    @media (max-width:778px) {
      flex-direction: column;
      align-items: center;
    }
	}

	input {
		max-width: 450px;
		width: 100%;
		border: 0;
		border-radius: 2px;
		padding: 10px;
		height: 60px;
		box-sizing: border-box;

    @include inputPlaceholder() {
      font-size: 1rem;
    }
	}

	button {
		display: flex;
		align-items: center;
		background: #e50914;
		border: 0;
		border-radius: 2px;
		font-size: 26px;
    text-align: center;
		color: white;
		height: 60px;
		padding: 0 32px;
		cursor: pointer;

		svg {
      margin-left: 11px;

      @media(max-width: 778px) {
        height: 1em !important;
        width: 1em !important;
      }
    }

    @media(max-width: 778px) {
      font-size: 1rem;
      margin: 16px 0 0;
      padding: 0px 8px;
      height: 40px;
      width: 125px;
    }
	}

	p {
		font-size: 1.25rem;
		color: white;
		text-align: center;
		max-width: none;
		padding-bottom: 20px;
	}
}

//footer
.footerContainer {
	display: flex;
	padding: 70px 0;
	margin: auto;
	max-width: 1000px;
	flex-direction: column;

	@media (max-width: 1000px) {
		padding: 70px 30px;
	}

	.break {
		flex-basis: 100%;
		height: 0;
	}

	.row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
		grid-gap: 15px;

		margin-left: 0;

		@media (max-width: 1000px) {
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		}
	}

	.column {
		display: flex;
		flex-direction: column;
		text-align: left;

		a {
			cursor: pointer;
			color: #757575;
			margin-bottom: 20px;
			font-size: 13px;
			text-decoration: none;
		}
	}

	.footerTitle {
		font-size: 16px;
		color: #757575;
		margin-bottom: 40px;
	}

	.copyright {
		font-size: 13px;
		color: #757575;
		margin-bottom: 40px;
	}
}
