@import "../../../styles/mixins.scss";

.optFormSection {
  .form-floating {
    label {
      color: $lt-medium-gray;
    }

    input {
      border: 0;
      border-radius: 2px;
    }
  }

	a {
		display: flex;
		align-items: center;
    justify-content: center;
		background: $netflix-red;
		border: 0;
		border-radius: 2px;
    @include subTitle(regular);
    height: 3.625rem !important;
    margin: 0 !important;
    padding: 0 0 0 2px;
		cursor: pointer;
    
    @media (max-width: 767px){
      margin-top: 1rem !important;
    }

		svg {
			margin-left: 8px;
		}
	}
}