//Globals
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html, body {
  background: black;
  font-family:'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: white;
}

.app {
  overflow-x: hidden;
}

svg {
  height: 1.2em;
  width: 1.2em;

  @media (max-width: 600px) {
    height: 1em;
    width: 1em;
  }
}