@import './fonts.scss';
@import './variables.scss';


//Homepage and browser page are where the media-queries are at
/*
Popular fonts:
50px, 700 --> main titles
48px, 800 --> header
32px 700
26px 400 --> subtitles/ "get started" buttons
20px 400 --> accordion
16 400 --> body --> sign in buttons
13.3333px 400 --> form place holder (Arial)
13px --> footer
*/

@mixin inputPlaceholder() {
	$selector: "";
	$prefixes: (
		moz: "::-moz",
		webkit: "::-webkit",
		ie: ":-ms",
	);
	@each $prop, $value in $prefixes {
		@if $prop != "moz" {
			$selector: #{$value}-input-placeholder;
		} @else {
			$selector: #{$value}-placeholder;
		}
		@if & {
			&#{$selector} {
				@content;
			}
		} @else {
			#{$selector} {
				@content;
			}
		}
	}
	&::placeholder {
		@content;
	}
}