//colors
$netflix-red: #e50914;
$modal-background: #000000db;
$gray-border: #222;
$medium-gray: #333;
/*
Popular media queries used so far:
2560
1980
1366 -> onw max width 1365
1000 --> 1024?
778 --> change to 768?
700
600 --> change to 768? 
*/
