@import "../../../styles/mixins.scss";

#signInGradient, #signUpGradient {
	height: 100% ;
}

.signInUpContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	margin-top: 3rem !important;
	margin: auto;
	margin-bottom: 6.25rem;
	padding: 3.75rem 4.25rem 2.5rem;

	min-height: 41.25rem;
	max-width: 28.125rem;
	width: 100%;
	z-index: 2;

	.error {
		background: #e87c03;
		border-radius: 0.25rem;
		font-size: 0.875rem;
		margin: 0 0 1rem;
		color: white;
		padding: 0.938rem 1.25rem;
	}

	form {
		display: flex;
		flex-direction: column;
		max-width: 28.125rem;
		width: 100%;
	}

	h1 {
		color: #fff;
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 1.75rem;
	}

	input {
		background-color: $medium-gray !important;
		border-radius: 0.25rem;
		border: 0;
		color: #fff;
		height: 3.125rem;
		line-height: 3.125rem;
		margin-bottom: 1.25rem;
		padding: 0.313rem 1.25rem;
		max-width: 25.625rem;
		width: 100%;

		&:focus {
			background-color: $medium-gray;
			color: white;
		}

		&:last-of-type {
			margin-bottom: 1.875rem;
		}
		@include inputPlaceholder() {
			font-size: 1rem;
		}
	}

	button {
		background-color: $netflix-red !important;
		border-radius: 0.25rem;
		border: 0;
		color: white;
		font-size: 1rem;
		font-weight: bold;
		margin: 1.5rem 0;
		padding: 1rem;
		cursor: pointer;
		max-width: 28.125rem;
		width: 100%;

		&:disabled {
			cursor: auto;
			opacity: 0.5;
		}
	}

	.signUpText,
	.signInText {
		color: #737373;
		font-size: 1rem;
		font-weight: 500;
		margin-bottom: 1.5rem;

		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.recaptchaText {
		margin-top: 0.625rem;
		font-size: 0.813rem;
		line-height: normal;
		color: #8c8c8c;
	}
}


