@import '../../../styles/variables.scss';
//NAVBAR
.nav {
	position: fixed;
	top:0;
	height:70px;
	min-width: 100vw;
	width: 100%;
	z-index:100;

	transition: all 0.5s ease-in;
}

.navBlack {
	background-color: black;
}

.navContainer {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 20px 10px;

	.group, .navProfile, .search {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.netflixLogo {
		margin-right: 2rem;
	}

	.navLogo {
		cursor: pointer;
		width: 8.375rem;
		height: 2.25rem;
	}

	a {
		color: white;
		font-size: 18px;
		text-decoration: none;
		text-shadow: 
		0px 2px 3px rgba(0,0,0,0.5),
		0px -2px 13px rgba(0,0,0,0.4),
		0px 18px 23px rgba(0,0,0,0.2);

		margin-right: 1.5rem;
		cursor: pointer;

		&:hover {
			font-weight: 800;
		}
	}

	.displayName {
		cursor: default;
	}

	.search{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 1.5rem;

		.searchIcon {
			position: relative;
			border: none;
			background-color: transparent;
			color: white;
			font-size: 26px;
			filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
			cursor: pointer;
			outline: 0;
			padding: 0;
			margin-top: 5px;
		}

		.inputContainer {
			position: relative;
		
			input {
				background-color: rgba(64, 64, 64, 0.65);
				border: 1px solid white;
				border-radius: 4px;
				color: white;
				font-size: 14px;
				margin-left: 0;
				padding: 0;
				opacity: 0;
				height: 30px;
				width: 0px;
				transition: width 0.5s;

				&::placeholder {
					color: white;
				}

				&:focus {
					background-color: rgba(0, 0, 0, 0.8);
				}
			}
			.toggleSearch {
				margin-left: 10px;
				padding: 0 10px;
				opacity: 1;
				width:200px;
			}
		}

		@media (max-width: 700px) {
			display: none;
		}
	}

	.navAvatar, img {
		border: none;
		background: transparent;
		cursor: pointer;
		margin-right:.5rem;
		width: 40px;
		height: 40px;
	}

	.dropAvatar {
		cursor: default;
	}
	
	.dropDown {
		position:absolute;
		top: 50px;
    right: 6px;
		background-color: rgba(0, 0, 0, 0.75);
		border-radius: 2%;
		padding: 0;
		height: 0px;
		width: 100px;
		transition: height 0.5s;
	}

	.dropDownArrow {
		svg {
			filter: drop-shadow(1px 0px 4px rgb(0 0 0 / 0.75));
		}
	}
	
	.toggleMenu {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 90px;
		padding: 12px 10px;
	}

	.topContent, .bottomContent {
		display: none;
	}

	.toggleContent {
		display: flex;
		align-items: center;
	}

	.navProfile {
		position: relative;
	}

	.signOutLink {
		cursor: pointer;
		&:hover {
			font-weight: 800;
		}
	}
}

//JUMBOTRON
.banner {
	display: flex;
	flex-direction: column;
	position:relative;
	height: 35.875rem;
	margin-bottom: 1.5rem;

	@media (min-width: 85.375rem) {
		height: 48rem;
	}

	@media (min-width: 123.75rem) {
		height: 59.063rem;
	}

	@media(min-width: 160rem) {
		height: 1168px;
	}


	.copyContainer {
		height: 19.75rem;
		margin-left: 1.875rem;
		margin-top: 12.5rem;
		//below was for when the jumbotron did not have display flex
		// padding-top: 140px;

		@media (max-width: 85.313rem) {
			margin-top: 8rem;
		}
	
		.title {
			font-size: 3rem;
			font-weight: 800;
			text-shadow: 
			0px 2px 3px rgba(0,0,0,0.5),
			0px -2px 13px rgba(0,0,0,0.4),
			0px 18px 23px rgba(0,0,0,0.2);
			padding-bottom: 0.3rem;
			max-width:37.5rem;
			width:100%;
		}
	
		.description {
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 1.3;
			text-shadow: 
			0px 2px 3px rgba(0,0,0,0.5),
			0px -2px 10px rgba(0,0,0,0.4),
			0px 18px 23px rgba(0,0,0,0.2);
			padding-top: 1rem;
			height: 5rem;
			max-width: 26.25rem;
			width: 100%;
		}

		
		.buttons {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;

		}
		.playButton, .listButton {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			border-width: 0;
			border-radius: 5px;
			box-shadow: 0 0.6vw 1vw -0.4vw rgba(0, 0, 0, 0.35);

			background-color:rgba(61, 61, 61, 0.5);
			color:white;
			font-weight: bold;
			font-size: 1.25rem;
			letter-spacing: 1px;

			margin-top: 3.5rem;
			padding: 12px 20px;
			max-width: 150px;
			width:100%;

			cursor: pointer;
			transition: background-color 0.5s ease;

			&:hover {
				color: black;
				background-color: #e6e6e6;
				transition: all 0.2s ease-in-out;
			}

			svg {
				margin-right: .5rem;
				height: 1rem;
				width: 1rem;
			}
		}

		.playButton {
			margin-right: 1rem;
		}
	}
	
	.fadeBottom {
		background-image: linear-gradient(180deg, transparent, rgba(15, 15, 15, 0.61), black);
		height: 8.4rem;

		@media (min-width: 1366px) {
			height: 18.4rem;
		}

		@media (min-width: 1980px) {
			height: 30.4rem;
		}

		@media(min-width: 2560px) {
			height: 43.4rem;
		}
	}
}

//MOVIE ROWS
.row {
	margin-left: 20px;
}

.moviesContainer {
	display: flex;
	overflow-y: hidden !important;
	overflow-x: scroll;
	padding: 20px 20px 20px 0;
	scroll-behavior: smooth;
	cursor: pointer;

	&::-webkit-scrollbar {
		display: none !important;
	}

	.isLarge {
		height: 290px;
	}

	.arrow-container-left, .arrow-container-right {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.70);
		height: 140px;
		width: 50px;
		z-index: 10;
		cursor: pointer;
		opacity: 0;
		transition: all 450ms;
		
		&:hover {
			opacity: 1;
		}
		
		svg {
			font-size: 20px;
			padding-right: 4px;
		}
	}

	.arrow-container-left {
		left: 20px;
	}

	.arrow-container-right {
		right: 0px ;
	}

	.isLarge{
		height: 290px;
	}

	.posterContainer {
		position: relative;
		border-radius: 5px;
		object-fit: contain;
		margin-right: 10px;
		max-height: 100%;
		width:100%;
	}

	.poster {
		max-height: 140px;
		margin-right: 10px;
		transition: transform 450ms;

		&:hover {
			transform: scale(1.08);
			opacity: 1;
		}
	}

	.posterLarge {
		max-height: 290px;

		&:hover{
			transform: scale(1.09);
			opacity: 1;
		}
	}

	.title-container {
		position: absolute;
		left: 0;
		bottom: 2px;
		height: 142.5px;
		width: 249px;
		display: none;
	}

	.posterSmall {
		background: #10101067;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: all ease-in-out 450ms;

		.title {
			font-weight: bold;
			text-align: center;
			width: 96%;
		}

		&:hover {
			opacity: 1;
			transform: scale(1.08);
			z-index: 100;
		}
	}

	.subtitle, .description{
		display: none;
		user-select: none;
	}

	.subtitle {color: #fff;
		font-size: 12px;
		font-weight: 700;
		margin-top: 5px;
		margin-bottom: 0;
		margin-left: 10px;
		margin-right: 10px;
	}

	.description {
		color: #fff;
		font-size: 10px;
		line-height: normal;
		margin-top: 5px;
		margin-bottom: 0;
		margin-left: 10px;
		margin-right: 10px;
	}
}

//MODAL
.modalContainer {
	position: absolute;
	display: none;
	background-color: $modal-background;
	z-index: 100;
}

.detailOpen {
	display: block;
	position: fixed;
  top: 0;
  left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	p {
		color: #dadada;
	}
	
	.modal {
		background-color: rgb(16, 16, 16);
		height: 100%;
		max-width: 900px;
		width:100%;
		overflow-y: scroll;
		margin: 20px auto 0;

			header {
				position: relative;
		
				img {
					width: 100%;
				}

				.closeContainer, .playBtnContainer {
					svg {
						cursor: pointer;
					}
				}

				.closeContainer {
					position: absolute;
					top:0.25rem;
					right: 0.5rem;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					background: rgba(0, 0, 0, 0.50);
					font-size: 1.5rem;
					height: 1.875rem;
					width: 1.875rem;
					z-index: 4;
					svg {
						opacity: .65;
						transition: all 0.2s ease-in-out;
						&:hover {
							transition: all 0.2s ease-in-out;
							opacity: 1;
						}
					}
				}

				.playBtnContainer {
					position:absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					top:0;
					font-size: 4rem;
					width: 100%;
					height: 100%;
					z-index: 3;
					
					svg {
						opacity: .65;
						transition: all 0.2s ease-in-out;
						&:hover {
							transition: all 0.2s ease-in-out;
							opacity: 1;
						}
					}
				}

				.titleMetaContainer, .bottomFade {
					position: absolute;
					bottom: 0;
					z-index: 2;
				}
				
				.titleMetaContainer {
					padding-left: 32px;
				}

				.metaDataRow {
					display: flex;
					align-items: center;
					margin-top: 0.5rem;
	
					p {
						color: #afafaf;
					}
	
					p, .widget-ratings {
						margin-right: 1rem;
					}
	
					.mediaRatingContainer{
						border: #afafaf 1px solid;
						margin-right: 1rem;
	
						p {
							text-align: center;
							margin-right: 0;
							padding: 2px 4px;
						}
	
					}
	
					.hdContainer {
						background: #535353;
						border-radius: 2px;
						p {
							color:#101010;
							font-weight: 900;
							text-align: center;
							padding-left:1px;
							margin: 0.5px 4px 1px;
						}
					}
				}

				.bottomFade {
					background-image: linear-gradient(180deg, transparent 81%, rgba(16, 16, 16, 0.50) 84%, rgb(16, 16, 16) 95%);
					height: 100%;
					width:100%;
					z-index: 1;
				}
			}

			.content {
				padding:0.2rem 2rem 2rem;
			}

			.cast, .description {
				margin-top: 1rem;
			}

			.cast, .director {
				display:flex;
				flex-wrap: wrap;
				
				p {
					color: #afafaf;
					display: flex;
					margin-right: .25rem;
				}

				.name + .name::before{
					display: inline-block;
					white-space: pre;
					content: ", ";
				}
			}

			.director {
				margin-top:.25rem;
			}
	}

	.similar-movies {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 1%;
			margin-bottom: 1%;
			width: 32%;

			@media (max-width: 64rem) {
				margin-right: 2%;
				width: 48%;
			}

			@media (max-width: 24.375rem) {
				margin-right: 0%;
				width: 100%;
			}

		}

		.detailsPoster{
			max-width: 22.5rem;
			width: 100%;
			@media (max-width: 64rem) {
				margin-bottom: 3%;
				max-width: 25.25rem;
			}
		}
	}

	.video-player-container {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		z-index: 100;

		#videoCloseButton {
			z-index: 150;
		}
	}
}


