@import "../../../styles/mixins.scss";

.footerContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	color: $lt-medium-gray;
	@include body(regular);
	padding: 4.375rem 0 0;
	margin: auto;
	max-width: 62.5rem;

	@include max-media-query($tablet-md) {
		padding: 4.375rem 1.875rem;
	}

	@include max-media-query($mobile-sm) {
		padding: 3rem 1.25rem;
	}

	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@include caption(regular);
		margin: 0 auto;
		width: 100%;
		@include max-media-query($mobile-sm) {
			align-items: center;
		}
	}

	.column {
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 0;
		width: 25%;

		a {
			cursor: pointer;
			margin-bottom: 1.25rem;
			cursor: pointer;
			text-decoration: underline;
			transition: all ease-in-out 250ms;
			&:hover {
				color: $links;
			}
		}

		&:nth-of-type(n + 3) {
			@include max-media-query($tablet-sm) {
				margin-top: 1.5rem;
			}
		}

		&:nth-of-type(n + 2) {
			@include max-media-query($mobile-sm) {
				margin-top: 1.5rem;
			}
		}

		@include max-media-query($tablet-sm) {
			width: 50%;
		}

		@include max-media-query($mobile-sm) {
			width: 100%;
		}
	}

	.footerTitle {
		margin-bottom: 2.5rem;
	}

}

.poweredByContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	@include subTitleMobile(medium);
	margin-top: 2rem;
	padding-bottom: 4.375rem;

	&::after, &::before{
		position: relative;
		width: 90%;
		border-top: thin solid #222;
		top: 50%;
		content: "";
		transform: translateY(50%);
	}

	.text-container {
		display: flex;
		align-items: center;
		padding-left: calc(0.6rem);
		padding-right: calc(0.6rem);
	}

		p{
			color: #5e5e5e;
			margin: 0;
			padding: 0 !important;
			min-width: 16.75rem;
		}

		a {
			@include subTitleMobile(bold);
			cursor: pointer;
		}

		.tmdbLogo {
			margin: 0rem 0rem 0rem 0.375rem!important;
			width: 144px;
		}
}
