@import "../../../styles/mixins.scss";
//JUMBOTRON
.banner-container {
	position: relative;
	z-index: 0;
	//video trailer
	.video-wrapper {
		position: relative;
		padding-top: 56.25%;
		top: 0;
	}

	#react-player {
		position: absolute;
		top: -2.5rem;
		left: 0;

		@include max-media-query($desktop-sm) {
			top: 0rem;
		}

		@include max-media-query($desktop-sm) {
			top: 0rem;
		}

		.video-stream .html5-main-video[style] {
			width: 100vw;
		}

	}

	.fadeBottom {
		position: absolute;
		left: 0;
		top: 76rem;
		background-image: linear-gradient(180deg, transparent 0%, black 68%);
		height: 200px;
		width: 100%;
		overflow: hidden;
		z-index: 1;

		@include max-media-query($desktop-xl){
			top: 54rem;
		}

		@include max-media-query($desktop-lg){
			top: 48rem;
		}

		@include max-media-query($desktop-md){
			top: 39rem;
		}

		@include max-media-query($tablet-lg){
			top: 33rem;
		}

		@include max-media-query($tablet-md){
			height: 15%;
			top: 28rem;
		}

		@include max-media-query($tablet-sm){
			top: 25.5rem;
		}
		
		@include max-media-query($tablet-xs){
			top: 21.5rem;
		}

		@include max-media-query($mobile-lg) {
			display: none
		}
	}

	//poster Banner

	.posterBanner{
		position: relative;
		top: 0;
		left: 0;
		height: 45.75rem;
		width: 100%;
	
		@media (min-width: $desktop-md) {
			height: 48rem;
		}
	
		@media (min-width: $desktop-lg) {
			height: 58.75rem;
		}
	
		@media(min-width: $desktop-xl) {
			height: 73rem;
		}
	}
}

.volumeRatingContainer{
	position: absolute;
	top: 75%;
	right: 0rem;
	display: flex;
	justify-content: center;
	z-index: 100;

	#muteBtn {
		border: #dcdcdc 3px solid;
		border-radius: 50% !important;
		margin-right: 1rem;
		padding: 0.25rem;
		cursor: pointer;

		&:hover, &:focus {
			border-color: white;
		}

		svg {
			color: #dcdcdc;
			height: auto;
			width: 2rem;

			&:hover, &:focus {
				color: white;
			}
		}
	}

	.maturityRate {
		background-color: #33333399;
		border-left:3px #dcdcdc solid ;
		display: flex;
		justify-content: center;
		color: #dcdcdc;
		font-size: 22px;
		padding: 0.688rem 1.25rem 0rem 0.75rem;
		
		p{
			margin-bottom: 0 ;
		}
	}
}

.copyContainer {
	position: absolute;
	top: 40%;
	margin-left: 1.875rem !important;
	padding:0px !important;
	z-index: 3;


	@include max-media-query($desktop-md){
		top: 35%;
	}

	@include max-media-query($tablet-md) {
		top: 30%;
		margin-left: 1rem !important
	}

	@include max-media-query($tablet-sm) {
		top: 36%;
	}

	@include max-media-query($tablet-xs) {
		top: 33%;
	}

	@include max-media-query($mobile-lg) {
		display: none
	}

	.title {
		@include jumbotronHeader();
		text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5),
			0px -2px 13px rgba(0, 0, 0, 0.4), 0px 18px 23px rgba(0, 0, 0, 0.2);
		margin-bottom: 1rem;
		max-width: 37.5rem;
		width: 100%;

		@include max-media-query($desktop-lg) {
			@include header();
		}

		@include max-media-query($tablet-lg) {
			@include headerMobile();
		}

		@include max-media-query($tablet-xs) {
			@include subTitle(medium);
			line-height: 2.125rem;
			width: 50%
		}
	}

	.description {
		@include subTitleMobile(medium);
		line-height: 1.3;
		text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5),
			0px -2px 10px rgba(0, 0, 0, 0.4), 0px 18px 23px rgba(0, 0, 0, 0.2);
		height: 5rem;
		max-width: 36rem;
		width: 100%;

		@include max-media-query($tablet-md){
			width: 43%
		}

		@include max-media-query($tablet-sm) {
			display: none;
		}

	}

	.row {
		width: 25rem;
		@include max-media-query($tablet-sm) {
			width: 20rem;
		}
	}

	.playButton,
	.listButton {
		background-color: #2d2d2d80 !important;
		border: none;
		border-radius: 0.313rem !important;
		color: white;
		@include subTitleMobile(medium);
		margin-top: 0rem;
		height: 3.125rem;
		max-width: 11.25rem;
		width: 100%;

		cursor: pointer;
		transition: background-color 0.5s ease-in-out;

		&:hover {
			background-color: #e6e6e6 !important;
			color: black;
			transition: all 0.2s ease-in-out;
		}

		@include max-media-query($tablet-sm) {
			@include body(regular);
			height: 2.55rem;
			max-width: 8.25rem;
		}
		

		svg {
			margin-right: 0.65rem;
			height: 1.25rem;
			width: 1.25rem;

			@include max-media-query($tablet-sm) {
				height: 1rem;
				width: 1rem;
			}
		}
	}
}

//Mobile Styling
.mobileBanner {
	position: relative;
	width: 100%;
	height: 56rem;

	@include max-media-query($mobile-md){
    height: 40rem;
	}
	@include max-media-query($mobile-sm){
    height: 36.55rem;
	}

	.mobileFadeBottom {
		position: relative;
		left: 0;
		top: 46rem;
		background-image: linear-gradient(180deg, transparent 0%, #00000096 35%, #000000c6 55%, black 85%);
		height: 15%;
		width: 100%;
		overflow: hidden;
		z-index: 0;

		@include max-media-query($mobile-md){
			top: 32rem;
		}
	}
	
	.row {
		position: relative;
		top: 96% !important;
		z-index: 2;
	}

	.button {
		&:nth-of-type(2){
			border: 1px solid deeppink;
			background-color: white !important;
			border: none;
			border-radius: 0.313rem !important;
			color: black;
			@include subTitleMobile(medium);
			margin-top: 0rem;
			height: 3.125rem;
			max-width: 8rem;
			width: 100%;
			p {
				margin: 0 0 0 0.65rem;
			}

			.svg {
				height: 1.25rem;
				width: 1.25rem;
			}
		}

		&:first-of-type, &:last-of-type {
			p {
				@include caption(regular);
				margin: 0.5rem 0 0 0;
			}

			.icons {
				font-size: 1.25rem;
			}
		}
	}
}

