.app{
	background: #111;
	height: 100vh;
}

//navbar
.nav {
	position: fixed;
	top:0;
	padding:20px;
	height:30px;
	width: 100vw;
	z-index:100;

	transition: all 0.5s ease-in;
}

.navBlack {
	background-color: #111;
}

.navContainer {
	display:flex;
	justify-content: space-between;

	
	.navLogo {
		position:fixed;
		left: 0;
		cursor: pointer;
		width: 100px;
		padding-left:20px
	}

	.navAvatar {
		position:fixed;
		right: 20px;
		cursor: pointer;
		width: 30px;
	}
}

//jumbotron
.jumbotron {
	display: flex;
	flex-direction: column;
	position:relative;
	//need to fix on bigger screens after 1024
	// object-fit: contain;
	color: white;
	height: 574px;



	.container {
		height: 316px;
		// height: 190px;
		margin-left: 30px;
		margin-top: 140px;
		//below was for when the jumbotron did not have display flex
		// padding-top: 140px;
	
		.title {
			font-size: 3rem;
			font-weight: 800;
	
			text-shadow: 
			0px 4px 3px rgba(0,0,0,0.4),
			0px 8px 13px rgba(0,0,0,0.1),
			0px 18px 23px rgba(0,0,0,0.1);
			padding-bottom: 0.3rem;
			max-width:600px;
			width:100%;
		}
	
		.description {
			font-size: 0.8rem;
			line-height: 1.3;
			padding-top: 1rem;
			height: 80px;
			max-width: 360px;
			width: 100%;
		}

		button {
			background-color: rgba(51, 51, 51, 0.5);
			border:none;
			border-radius: 0.2vw;
			color: white;
			font-weight: 700;
			cursor: pointer;
			outline: none;
			margin-right: 1rem;
			padding: 0.5rem 2rem;

			&:hover {
				color: black;
				background-color: #e6e6e6;
				transition: all 0.2s ease-in-out;
			}
		}
	}
	
	.fadeBottom {
		// border: deeppink 1px solid;
		background-image: linear-gradient(180deg, transparent, rgba(23, 23, 23, 0.61), #111);
		height: 7.4rem;
	}
}

//movie rows
.row {
	color:white;
	margin-left: 20px;
}

.moviePosters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;

	&::-webkit-scrollbar {
		display: none;
	}

	.poster {
		object-fit: contain;
		margin-right: 10px;
		max-height: 140px;
		width:100%;
		transition: transform 450ms;

		&:hover {
			transform: scale(1.08);
			opacity: 1;
		}
	}

	.posterLarge {
		max-height: 280px;
		
		&:hover{
			transform: scale(1.09);
			opacity: 1;
		}
	}
}




